<div class ="message__containers__main">
      <div class ="message__containers__main__top">
        <div class ="message__containers__main__top__content">
          <div class ="message__containers__main__top__content__left">
             <%= @group.name %>           
            <%= link_to "Show Group Details", group_path(@group.id), class: 'message__containers__main__top__content__left__link' %>
          </div>  
        </div>     
    </div>

      <div class ="message__containers__main__middle">
        <% @messages.each do |message| %>
        <% if message.user_id == current_user.id %>
        <div class ="message__containers__main__middle__talk" data-message-id = <%= message.id %>>
          <div class="message__containers__main__middle__talk__right" >
          <div class ="message__containers__main__middle__talk__right__bottom">
            <%= message.content %> 
          </div>
           <div class ="message__containers__main__middle__talk__right__time">
             <%= message.created_at.strftime("%Y/%m/%d/ %H:%M")%> 
          </div> 
          </div>
          </div>
        <% else %>
        <div class ="message__containers__main__middle__talk" data-message-id = <%= message.id %>>
          <div class="message__containers__main__middle__talk__left" >
            <div class ="message__containers__main__middle__talk__left__top">
              <div class ="message__containers__main__middle__talk__left__top__name">
                <a href="/users/<%= message.user.id %>">
                  <%= message.user.nickname %> 
              </a>
              </div>
            </div>
            <div class ="message__containers__main__middle__talk__left__bottom">
              <%= message.content %> 
            </div>
            <div class ="message__containers__main__middle__talk__left__time">
              <%= message.created_at.strftime("%Y/%m/%d/ %H:%M")%> 
            </div> 
          </div>
        </div>
        <% end %>
        <% end %>
        
      </div>
      <div class ="message__containers__main__bottom">
        <%= form_for [@group, @message] do |f| %>
          <%= f.text_field :content, class: 'message__containers__main__bottom__left', placeholder: 'type a message' %>
          <div class="message__containers__main__bottom__middle">
            <%= f.label :image, class: 'message__containers__main__bottom__middle__box' do %>
              <%= icon('fas', 'image', class: 'message__containers__main__bottom__middle__box__img') %>
            <% end %>
          </div>
          <%= f.submit 'Send', class: 'message__containers__main__bottom__right' %>
        <% end %>
      </div>
  
    </div>