<div class="containers">

<div class="wrap">
  <div class="signup">
    <div class="signup__top">
      <div class="signup__top__side">
        <div class="signup__top__side__box">
        <%= link_to root_path do %>
          <div class="signup__top__side__box__icon">
            <i class="fas fa-gift"></i><br>
          </div>
          <div class="signup__top__side__box__name">
            <p>Secret</p>
            <p>Santa</p>
            <p>365</p>
          </div>
          <% end %>
        </div>
      </div>
      <div class="signup__top__main">
        <div class="signup__top__main__contents">
          <h1>User's Information</h1>
          <div class="header__contents__right">
            <div class="step1 selected">Basic Info</div>
            <div class="step2">Address Info</div>
            <div class="step3">Completed</div>
            <ol class="header__contents__right__stepbar">
                <li class="done">
                  <span></span>
                </li>
                <li>
                  <span></span>
                </li>
                <li>
                  <span></span>
                </li>
            </ol>
          </div>
          <%= form_for(@user, url: user_registration_path) do |f| %>
             <%= render "devise/shared/error_messages", resource: resource %>

              <div class="signup__top__main__contents__field">
                <div class="signup__top__main__contents__field__username">
                  <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", placeholder:"Nickname" %>
                </div>
                <div class="signup__top__main__contents__fields">
                  <div class="signup__top__main__contents__fields__field left">
                    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder:"Firstname" %>
                  </div>
                  <div class="signup__top__main__contents__fields__field right">
                    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder:"Lastname" %>
                  </div>
                </div>

                <div class="signup__top__main__contents__field__birthday">
                 <span>Date of Birth</span>
                  <%= raw sprintf(f.date_select(:birthday, prompt:"--", use_month_numbers: true,start_year: 1920, end_year: (Time.now.year - 10), date_separator: '%s'),'/ ', '/') %>

                </div>
                <div class="signup__top__main__contents__field__email">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email" %>
                </div>
                <div class="signup__top__main__contents__field__password">
                  <%= f.password_field :password, autocomplete: "new-password", placeholder:"Password (6 characters minimum)" %>
                </div>
                <div class="signup__top__main__contents__field__password">
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"Password confirmation" %>
                </div>
              </div>


              <div class="actions">
                <%= f.submit "Next", class:"signup__top__main__contents__signup"%>
              </div>
              <% end %>

          <%- if controller_name != 'sessions' %>
            <%= link_to "Log in?", new_user_session_path, class:"registrations" %><br />
          <% end %>
      </div>
      </div>
    </div>
  </div>
  </div>
  </div>