<div class="wrap">
  <div class="address">
    <div class="address__top">
      <div class="address__top__side">
        <div class="address__top__side__box">
        <%= link_to root_path do %>
          <div class="address__top__side__box__icon">
            <i class="fas fa-gift"></i><br>
          </div>
          <div class="address__top__side__box__name">
            <p>Secret</p>
            <p>Santa</p>
            <p>365</p>
          </div>
          <% end %>
        </div>
      </div>
      <div class="address__top__main">
        <div class="address__top__main__contents">
          <h1>User's Information</h1>
          <div class="header__contents__right">
            <div class="step1">Basic Info</div>
            <div class="step2 selected">Address Info</div>
            <div class="step3">Completed</div>
            <ol class="header__contents__right__stepbar">
                <li class="done">
                  <span></span>
                </li>
                <li class="done">
                  <span></span>
                </li>
                <li>
                  <span></span>
                </li>
            </ol>
          </div>
          <%= form_for @address do |f| %>
          <%= render "devise/shared/error_messages", resource: @address %>

          <div class="address__top__main__contents__field__address">
            <%= f.text_field :zipcode, autofocus: true, autocomplete: "zipcode", placeholder:"zipcode", class: "postal_code", id: "address_zipcode" %>
          </div>

          <div class="address__top__main__contents__field__address">
            <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :name, :name, class: "address" %>

          </div>

          <div class="address__top__main__contents__field__address">
            <%= f.text_field :city, autofocus: true, autocomplete: "city", placeholder:"city", class: "address", id:"address_city"%>
          </div>

          <div class="address__top__main__contents__field__address">
            <%= f.text_field :district, autofocus: true, autocomplete: "district", placeholder:"district", class: "address", id: "address_street" %>
          </div>

          <div class="address__top__main__contents__field__address">
            <%= f.text_field :building, autofocus: true, autocomplete: "building", placeholder:"building"%>
          </div>

          <div class="address__top__main__contents__field__address">
            <%= f.text_field :room, autofocus: true, autocomplete: "room", placeholder:"room"  %>
          </div>
              <div class="actions">
                <%= f.submit "Sign up", class:"signup__top__main__contents__signup"%>
              </div>
              <% end %>

      </div>
      </div>
    </div>
  </div>
  </div>











 

