<div class="containers">
  <div class="first">

    <div class="title">My groups</div>
    <%= link_to new_group_path, class:"createButton" do %>
     New Group
    <% end %>

               
    <div class="content">
        <% current_user.groups.first(3).each do |group| %>

        <%= link_to group_path(group.id) do %>
       <div class="group">

          <div class="group__name">
           <%= group.name %>
         </div>
          <div class="group__date">
           <%= group.exchange_date %>
         </div>
                 </div>

         <% end %>

        <% end %>

    </div>
    <%= link_to "Show all groups", groups_path %>

  </div>
  </div>
    </div>