<div class="containers">
        <div class ="groupsnew__containers">
      <div class ="groupsnew__containers__container">
        <div class="groupsnew__containers__container__title">
          <div class="groupsnew__containers__container__title__content">
          Create New Group
           </div>
        </div>
        <div class="groupsnew__containers__container__form">
          <%= form_for (@group), class: :form, local: true do |form| %>
            <div class="groupsnew__containers__container__form__error">
            <% if @group.errors.any? %>
              <h3>入力した内容にエラーが<%= @group.errors.count %>件あります</h3>
                  <ul>
                    <% @group.errors.full_messages.each do |group| %>
                      <li><%= group %></li>
                    <% end %>
                  </ul>
            <% end %>
            </div>

          <div class="groupsnew__containers__container__form__item">
            Group Name
            <%= form.text_field :name, class: :groupsnew__containers__container__form__description %>
          </div>

          <div class="chat-group-form__field clearfix">
              <label class="chat-group-form__label" for="chat_group_addmember">Add group members</label>
            <div class="chat-group-form__field--right">
              <div class="chat-group-form__search clearfix">
                <input class="chat-group-form__input" id="participantssearch" type="text">
              </div>
              <div id="participantssearchresult"></div>
            </div>
          </div>

          <div class="chat-group-form__field clearfix">
            <div class="chat-group-form__field--left">
              <label class="chat-group-form__label" for="chat_group_chatmember">Group members</label>
            </div>
            <div class="chat-group-form__field--right">
              <div class="js-add-participant" id="chat-group-users">
                <div class="chat-group-user clearfix js-chat-member">
                  <input name="group[user_ids][]" type="hidden" value="<%= current_user.id %>">
                  <p class="chat-group-user__nickname">
                    <%= current_user.nickname %>
                  </p>
                </div>

                
                <% @group.users.each do |user| %>
                  <% if current_user.nickname != user.nickname %>
                    <div class="chat-group-user clearfix js-chat-member">
                      <input name="group[user_ids][]" type="hidden" value="<%= user.id %>">
                      <p class="chat-group-user__nickname">
                        <%= user.nickname  %>
                      </p>
                      <a class="user-search-remove chat-group-user__btn chat-group-user__btn--remove js-remove-btn"></a>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>

            <div class="groupsnew__containers__container__form__item">
            <span>Exchange date</span>
            <div class="groupsnew__containers__container__form__item__date">
            <%= raw sprintf(form.date_select(:exchange_date, include_blank: true, use_month_numbers: true,start_year: Time.now.year, end_year: (Time.now.year + 1), date_separator: '%s'),'/ ', '/') %>
            </div>
            </div>
            <div class="groupsnew__containers__container__form__item">
            Budget
            <%= form.select :budget, [["¥2,000", "2000"], ["¥3,000", "3000"], ["¥5,000", "5000"], ["¥10,000", "10000"]], include_blank: "Select the budget", class: :groupsnew__containers__container__form__description %>
            </div>
          
            <%= form.submit 'Create', class: :groupsnew__containers__container__form__create %>
            <%= link_to "Back", tops_path, class: "groupsnew__containers__container__form__back" %>
          <% end %>
        </div>
      </div>
    </div>
</div>