<div class="containers">
<div class ="Groupshow__containers">
<div class ="Groupshow__containers__container">
  <div class ="Groupshow__containers__container__top">
   <h1>Group Details</h1>
  </div>
  <div class ="Groupshow__containers__container__bottom">
    <div class ="Groupshow__containers__container__bottom__left">
      <h1><%= @group.name %></h1>
    </div>
    <div class ="Groupshow__containers__container__bottom__right">
        <div class ="Groupshow__containers__container__bottom__right__title">
        <h2>Participants</h2>
        </div>
        <div class ="Groupshow__containers__container__bottom__right__details">
          <% @group.users.each do |user| %>
            <a href="/users/<%= user.id %>">
              <p><%= user.nickname %></p>
            </a>
          <% end %>
        </div>
        <div class ="Groupshow__containers__container__bottom__right__title">
        <h2>Budget</h2>
        </div>
        <div class ="Groupshow__containers__container__bottom__right__details">
          <p>¥<%= @group.budget %></p>
        </div>
        <div class ="Groupshow__containers__container__bottom__right__title">
        <h2>Exchange Date</h2>
        </div>
        <div class ="Groupshow__containers__container__bottom__right__details">
          <p><%= @group.exchange_date %></p>
        </div>
        <div class ="Groupshow__containers__container__bottom__right__title">
        <h2>My draw</h2>
        </div>
        <div class ="Groupshow__containers__container__bottom__right__details">
            <div id="button">?</div>
            <div id="address"></div>
            <div id="interests"></div>
        </div>
    </div>
  </div>
  </div>
    </div>
      </div>
   