<%= render 'layouts/header'%>
<div class ="Groupshow__containers">
<div class ="Groupshow__containers__container">
  <div class ="Groupshow__containers__container__top">
   <h1>Group Details</h1>
  </div>
  <div class ="Groupshow__containers__container__bottom">
      <%= link_to edit_group_path(@group.id), method: :get, class:"Groupshow__containers__container__bottom__edit" do %>
      <i class="fas fa-edit"></i> Edit
      <% end %>
      <%= link_to group_path(@group.id), method: :delete, class:"Groupshow__containers__container__bottom__delete" do %>
      <i class="fas fa-trash-alt"></i> Delete
      <% end %>

    <div class ="Groupshow__containers__container__bottom__info">
      <div class ="Groupshow__containers__container__bottom__info__title">
      Group Name
      </div>
      <div class ="Groupshow__containers__container__bottom__info__content">
        <%= @group.name %>
      </div>
    </div>

    <div class ="Groupshow__containers__container__bottom__info">
      <div class ="Groupshow__containers__container__bottom__info__title">
       Budget
      </div>
      <div class ="Groupshow__containers__container__bottom__info__content">
       ¥<%= @group.budget %>
      </div>
    </div>
    <div class ="Groupshow__containers__container__bottom__info">
      <div class ="Groupshow__containers__container__bottom__info__title">
       Exchange Date
      </div>
      <div class ="Groupshow__containers__container__bottom__info__content">
       <%= @group.exchange_date %>
      </div>
    </div>

    <div class ="Groupshow__containers__container__bottom__info">
      <div class ="Groupshow__containers__container__bottom__info__title">
       Participants
      </div>
      <div class ="Groupshow__containers__container__bottom__info__content">
       <% @group.users.each do |user| %>
        <a href="/users/<%= user.id %>">
          <%= user.nickname %>
        </a>
       <% end %>
      </div>
    </div>

    <div class ="Groupshow__containers__container__bottom__draw">
      <div class ="Groupshow__containers__container__bottom__draw__title">
       My draws
      </div>
       <div id="button">?</div>
       <div id="address"></div>
       
      <div id="interests"></div>








		</div>

    </div>

</div>


