<% provide(:title, @title) %>



<%= render 'layouts/header'%>
<div class="usershow__containers">
  <div class="usershow__containers__container">
    <div class="usershow__containers__container__top">
      <div class="usershow__containers__container__top__left">
      <% if current_user.image.present? %>
        <%= link_to  user_path(current_user.id)  do %>
          <%= image_tag @user.image %>
        <% end %>
      <% else %>
        <%= link_to  user_path(current_user.id)  do %>
         <%= image_tag "/assets/account.png" %>
        <% end %>
      <% end %>
      </div>
      <div class="usershow__containers__container__top__right">
        <div class="usershow__containers__container__top__right__name">
        <%= @user.nickname %>
        </div>
        
        <% if user_signed_in? && current_user.id.to_s == params[:id]%>
        <div class ="usershow__containers__container__top__right__edit">
          <%= link_to "Edit", edit_user_registration_path %>
        </div> 
        <div class ="usershow__containers__container__top__right__logout">
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        </div> 
        <div class ="usershow__containers__container__top__right__delete">
          <%= link_to "Delete", user_registration_path, method: :delete %>
        </div> 


        <% else %>
        <div id="follow_form">
          <% if current_user.following?(@user) %>
            <%= form_for(current_user.active_relationships.find_by(followed_id: @user.id), html: { method: :delete }) do |f| %> 
              <%= f.submit "Unfollow", class: "btn" %> 
            <% end %>
          <% else %>
            <%= form_for(current_user.active_relationships.build) do |f| %> 
               <div><%= hidden_field_tag :followed_id, @user.id %></div> 
              <%= f.submit "Follow", class: "btn btn-primary" %> 
             <% end %>
           <% end %>
          </div>

        <% end %>
      </div>
    </div>


    <div class="usershow__containers__container__bottom">
      <div class='usershow__containers__container__bottom__tabs'>
        <div class='usershow__containers__container__bottom__tabs__tab-buttons'>
          <span class='content1'>Following（<%= @user.following.count %>）</span>
          <span class='content2'>Followers（<%= @user.followers.count %>）</span>
          <div id='lamp' class='content1'></div>
        </div>
      </div>
      <div class="usershow__containers__container__bottom__tab-contents">


      <div class="usershow__containers__container__bottom__tab-content content1">
        <div class="usershow__containers__container__bottom__tab-content__box">
          <% @user.following.each do |user| %>
          <div class="usershow__containers__container__bottom__tab-content__box__each">
            <div class="usershow__containers__container__bottom__tab-content__box__each__pic">
                <% if user.image.present? %>
                  <%= link_to user_path(user.id) do %>
                    <%= image_tag user.image %>
                  <% end %>
                <% else %>
                  <%= link_to  user_path(user.id)  do %>
                    <%= image_tag "/assets/account.png" %>
                  <% end %>
                <% end %>
            </div>
            <div class="usershow__containers__container__bottom__tab-content__box__each__name">
                  <%= link_to user_path(user.id) do %>
                    <%= user.nickname %>
                  <% end %>
              <div class="usershow__containers__container__bottom__tab-content__box__each__name__stat">
                <div class="stats">
                  <div class="stats__following">
                      <strong id="following" class="stat">
                        <%= user.following.count %>
                      </strong>following
                  </div>
                  <div class="stats__followers">
                      <strong id="followers" class="stat">
                        <%= user.followers.count %>
                      </strong>followers
                  </div>
                </div>
              </div>
            </div>
            <div class="usershow__containers__container__bottom__tab-content__box__each__detail">
              <%= link_to '詳細', user_path(user) %>
            </div>
           </div>
            <% end %>
          </div>
        </div>
        <!-- ======================================== -->

        <div class="usershow__containers__container__bottom__tab-content content2">
        <div class="usershow__containers__container__bottom__tab-content__box">
          <% @user.followers.each do |user| %>
          <div class="usershow__containers__container__bottom__tab-content__box__each">
            <div class="usershow__containers__container__bottom__tab-content__box__each__pic">
                <% if user.image.present? %>
                  <%= link_to user_path(user.id) do %>
                    <%= image_tag user.image %>
                  <% end %>
                <% else %>
                  <%= link_to  user_path(user.id)  do %>
                    <%= image_tag "/assets/account.png" %>
                  <% end %>
                <% end %>
            </div>
            <div class="usershow__containers__container__bottom__tab-content__box__each__name">
                  <%= link_to user_path(user.id) do %>
                    <%= user.nickname %>
                  <% end %>
              <div class="usershow__containers__container__bottom__tab-content__box__each__name__stat">
                <div class="stats">
                  <div class="stats__following">
                      <strong id="following" class="stat">
                        <%= user.following.count %>
                      </strong>following
                  </div>
                  <div class="stats__followers">
                      <strong id="followers" class="stat">
                        <%= user.followers.count %>
                      </strong>followers
                  </div>
                </div>
              </div>
            </div>
            <div class="usershow__containers__container__bottom__tab-content__box__each__detail">
              <%= link_to '詳細', user_path(user) %>
            </div>
           </div>
            <% end %>
          </div>
        </div>







      







  
        <!-- ======================================== -->
        

    </div>
    </div>
  </div>

</div>


