<%# <%= render 'layouts/header'%> 



  <div class="topFirst">
   <div class="container">
    <div class="giftPic">
   <%= image_tag asset_path("gift.jpg") %>
   </div>
    <div class="definition">
    <h1>What is Secret Santa 365?</h1>
    <p>Under the circumstances of Covid-19, it has become difficult for us to see our loved ones in person.<br>
    This app provides a platform to connect and exchange gifts with friends and family in a new way.<br>
    You will receive a gift from an unknown sender who has put their love and care into choosing a perfect gift for you. <br>
    Get conncted with your loved ones through Secret Santa 365.
    </p>
    </div>
  </div>
  </div>
  <div class="topSecond">
    <div class="title">
      How Secret Santa 365 works
    </div>
    <div class="container">
      <ul class="tab-container">
      <li>
        <input class="tab-toggle" id="tab-1" type="radio" name="toggle" checked /> 
        <label data-title="Tab 1" class="tab l-b" for="tab-1">
          <span>1.Create a group</span>
        </label>            
        <ul class="tab-content-container">
          <li class="tab-content">
            <div class="image">
              <%= image_tag asset_path("team.png") %> 

            </div>
            <div class="description">
              <h1>1. Create a group with friends</h1>
              <p>The organizer creates a group and decide the group name, the group members, the exchange date and the budget</p>
            </div>

            <div class="arrows">
              <label class="back" for="tab-5">&#8249;</label>
              <label class="next" for="tab-2">&#8250;	</label>   
            </div>
          </li>
        </ul>
      </li>
      <li>
        <input class="tab-toggle" id="tab-2" type="radio" name="toggle" />
        <label class="tab" for="tab-2">
          <span>2.Check your draw</span>
        </label> 
        <ul class="tab-content-container">
          <li class="tab-content">
            <div class="image">
              <%= image_tag asset_path("lottery.png") %> 

            </div>
            <div class="description">
              <h1>2. Check your draw</h1>
              <p>After the group was created, you will get to see the person to send a gift for. (Your person doesn't know that you are their santa)</p>
            </div>

            <div class="arrows">
              <label class="back" for="tab-1">&#8249;</label>
              <label class="next" for="tab-3">&#8250;	</label>   
            </div>   
          </li>
        </ul>
      </li>
      <li>
        <input class="tab-toggle" id="tab-3" type="radio" name="toggle"/>        
        <label class="tab" for="tab-3">
         <span>3.Chat</span>
        </label> 
        <ul class="tab-content-container">
          <li class="tab-content">
            <div class="image">
              <%= image_tag asset_path("chat.png") %> 

            </div>
            <div class="description">
              <h1>3. Talk and figure out what your person wants</h1>
              <p>After the group was created, a chat group will be created. Within the chat, try to get a hint that your person wants currently, but don't reveal that you are the santa! If needed, members can change the setting as well.</p>
            </div>

            <div class="arrows">
              <label class="back" for="tab-2">&#8249;</label>
              <label class="next" for="tab-4">&#8250;	</label>   
            </div>
          </li>
        </ul>    
      </li>
      <li>
        <input class="tab-toggle" id="tab-4" type="radio" name="toggle"/>        
        <label class="tab" for="tab-4">
         <span>4.Send your gift</span>
        </label> 
        <ul class="tab-content-container">
          <li class="tab-content">
            <div class="image">
              <%= image_tag asset_path("present.png") %> 

            </div>
            <div class="description">
              <h1>4. Send your special gift</h1>
              <p>Send your gift to your person. When sending a gift by mail, don't forget to not to write your name as sender.</p>
            </div>
            <div class="arrows">
              <label class="back" for="tab-3">&#8249;</label>
              <label class="next" for="tab-5">&#8250;	</label>   
            </div>
          </li>
        </ul>    
      </li>
      <li>
        <input class="tab-toggle" id="tab-5" type="radio" name="toggle"/>        
        <label class="tab" for="tab-5">
         <span>5.Share your</span>
        </label> 
        <ul class="tab-content-container">
          <li class="tab-content">
            <div class="image">
              <%= image_tag asset_path("network.png") %> 
            </div>
            <div class="description">
              <h1>5. Share with friends what you got</h1>
              <p>When you got a gift from unknown sender, share what you got and your feelings with your friends and family</p>
            </div>
            <div class="arrows">
              <label class="back" for="tab-4">&#8249;</label>
              <label class="next" for="tab-1">&#8250;	</label>   
            </div>
          </li>
        </ul>    
      </li>
      </ul>
    </div>

  </div>

<%# <%= render 'layouts/footer'%> 
