<div class="containers">
  <div class="second">
    <div class="title">
        <% if params[:tag] %> 
         <h1>Posts for  <span>#<%= params[:tag] %></span></h1>
        <% else %>
         <h1>Posts</h1>
       <% end %> 
    </div>

    <% if @tags.any? %>
    <h2>Trending Tags</h2>
      <div class="tag">
        <% @tags.each do |tag|%>
        <ul>
          <li>
          <%= link_to "##{tag.name}(#{tag.taggings_count})", tag_path(tag.name), class: "link" %>
          </li>
          </ul>
        <% end %>
      </div>

    <% end %>


      <div class="search">
        <%= form_tag(posts_path,:method => 'get', :class => "search-form") do %>
          <i class="fas fa-search"></i>
          <%= text_field_tag :keyword, nil,placeholder:"Search posts", class: "search-input" %> 
          <%#= submit_tag 'Search', :name => nil %>
        <% end %>
      </div>


    <div class="posts">
       <% if Post.any? %>
        <% @posts.each do |post| %>
          <div class="post">
            <%= image_tag post.image %>
            <div class="mask">
              <div class="inside">
                <div class="account">
                  <% if post.user.image.present? %> 
                    <%= link_to user_path(post.user.id) do %>
                    <%= image_tag post.user.image %>
                    <% end %> 
                  <% else %> 
                    <%= link_to  user_path(post.user.id)  do %> 
                      <%= image_tag asset_path("account.png", alt: "アカウント") %>
                    <% end %>
                  <% end %> 
                </div>
                <div class="name">
                  <a href="/users/<%= post.user.id %>">
                    <%= post.user.nickname %> 
                  </a>
                </div>
                <div class="manage">
                <% if user_signed_in? && current_user.id == post.user_id %> 
                  <ul class="manage__lists">
                    <li>  
                      <%= link_to "/posts/#{post.id}/edit", method: :get do %> 
                        <i class="fas fa-edit"></i> Edit 
                      <% end %> 
                    </li> 
                    <li> 
                      <a class="modal-open-btn"><i class="fas fa-trash-alt"></i> Delete</a> 
                      <%= link_to "", "/posts/#{post.id}", method: :DELETE, class: 'item-delete-btn', id: 'delete_button'%>  
                    </li>
                  </ul>
                <% end %>
                </div>
                <div class="caption">
                  <div class="category">
                    <%= raw(post.tag_list.map { |t| link_to "##{t}", tag_path(t), class: "link" }.join(' ')) %> <!--追加--> 
                  </div>
                  <div class="comment">
                    <%= post.caption%>
                  </div>
                </div>

             </div>
            </div>
          </div>
        <% end %> 
      </div>
 
       <% else %>
        <div class="nothing"> 
          <p>No posts so far<br>Let's share what you got!</p>
          <%= link_to 'New Post', new_post_path %>
        </div>
       <% end %> 
          
       
  </div>
</div>
    <%#  <div class="posts__post">
          <div class="posts__post__top"> 
            <div class="posts__post__top__account">
              <% if post.user.image.present? %> 
        <%#        <%= link_to user_path(post.user.id) do %>
       <%#           <%= image_tag post.user.image %>
       <%#         <% end %> 
          <%#    <% else %> 
             <%#   <%= link_to  user_path(post.user.id)  do %> 
                <%#  <%= image_tag asset_path("account.png", alt: "アカウント") %>
               <%# <% end %>
  <%#            <% end %> 
     <%#       </div>
              <a href="/users/<%= post.user.id %><%#">%>
        <%#    <div class="posts__post__top__name">
                 <%= post.user.nickname %> 
    <%#        </a>
            </div> 
             <div class="posts__post__top__manage">
             <% if user_signed_in? && current_user.id == post.user_id %> 
    <%#           <ul class="posts__post__top__manage__lists">
                <li>  
                 <%= link_to "/posts/#{post.id}/edit", method: :get do %> 
     <%#              <i class="fas fa-edit"></i> Edit 
                  <% end %> 
     <%#           </li> 
                <li> 
                  <a class="modal-open-btn"><i class="fas fa-trash-alt"></i> Delete</a> 
                  <%= link_to "", "/posts/#{post.id}", method: :DELETE, class: 'item-delete-btn', id: 'delete_button'%>  
     <%#            </li>
                </ul>
              <% end %>
    <%#          </div>
              </div> 
          <div class="posts__post__bottom"> 
            <%= image_tag post.image %>
    <%#        <div class="posts__post__bottom__caption">
              <div class="posts__post__bottom__caption__top">
                <div class="posts__post__bottom__caption__top__category">
                  <%= raw(post.tag_list.map { |t| link_to "##{t}", tag_path(t), class: "posts__post__bottom__caption__top__category__link" }.join(' ')) %> <!--追加--> 
   <%#             </div>
            </div>
            <div class="posts__post__bottom__caption__comment">
              <%= post.caption%>
   <%#          </div>
          </div>
        </div> %>



<%# <div class ="posts__containers">
  <div class="posts__containers__container">  %>


    <%# <div class="posts__containers__container__left"> 
      <div class="posts__containers__container__left__title"> 
        <h1>How <span><b>Secret Santas 365</b> </span>works</h1>
      </div>
      <ul class='posts__containers__container__left__timeline'>
        <li>
          <div>
            <p class='posts__containers__container__left__timeline__title'>Create a group with friends</p>
            <p class='posts__containers__container__left__timeline__circle'></p>
            <p class='posts__containers__container__left__timeline__description'>The organizer creates a group and decide the group name, the group members, the exchange date and the budget.</p>
            <div class="posts__containers__container__left__description"> 
            <%= link_to new_group_path do %>
              <%# <div class="posts__containers__container__left__description__icon">
                <i class="fas fa-user-plus"></i>
              </div>
              <div class="posts__containers__container__left__description__word">
                <h1>Create a Group</h1>
              </div>
            <% end %>
            <%# </div>
          </div>
        </li>
        <li>
          <div>
            <p class='posts__containers__container__left__timeline__title'>Check your draw</p>
            <p class='posts__containers__container__left__timeline__circle'></p>
            <p class='posts__containers__container__left__timeline__description'>After the group was created, you will get to see the person to send a gift for. (Your person doesn't know that you are their santa)</p>
          </div>
        </li>
        <li>
          <div>
            <p class='posts__containers__container__left__timeline__title'>Talk and figure out what your person wants</p>
            <p class='posts__containers__container__left__timeline__circle'></p>
            <p class='posts__containers__container__left__timeline__description'>After the group was created, a chat group will be created. Within the chat, try to get a hint that your person wants currently, but don't reveal that you are the santa! If needed, members can change the setting as well.
            </p>
          </div>
        </li>
        <li>
          <div>
            <p class='posts__containers__container__left__timeline__title'>Send your special gift</p>
            <p class='posts__containers__container__left__timeline__circle'></p>
            <p class='posts__containers__container__left__timeline__description'>Send your gift to your person. When sending a gift by mail, don't forget to not to write your name as sender.</p>
          </div>
        </li>
        <li>
          <div>
            <p class='posts__containers__container__left__timeline__title'>Share with friends what you got</p>
            <p class='posts__containers__container__left__timeline__circle'></p>
            <p class='posts__containers__container__left__timeline__description'>When you got a gift from unknown sender, share what you got and your feelings with your friends and family</p>
          </div>
        </li>
      </ul>
    </div> %> 
    <%# <div class="posts__containers__container__right"> 
      <div class="posts__containers__container__right__top"> 
        <div class="posts__containers__container__right__top__tag"> 
          <h1>Trending Tags</h1>
          <% @tags.each do |tag|%>
            <%# <li>
              <%= link_to "##{tag.name}(#{tag.taggings_count})", tag_path(tag.name), class: "posts__containers__container__right__posts__post__bottom__caption__top__category__link" %>
            <%# </li>
          <% end %>
        <%# </div>
        <div class="posts__containers__container__right__top__search"> 
          <%= form_tag(posts_path,:method => 'get', :class => "search-form") do %>
           <%# <i class="fas fa-search"></i>
          <%= text_field_tag :keyword, nil, placeholder: 'Search by tag', class: "search-input" %> 
            <%#= submit_tag 'Search', :name => nil %>
          <%# <% end %>
          <%# </div>
      </div>

      <div class="posts__containers__container__right__title"> 
       <% if params[:tag] %> 
        <%# <div class="posts__containers__container__right__title__condition"> 
          <%= link_to "Back", posts_path %>
        <%# </div>
        Results for  <span>"#<%= params[:tag] %><%#"</span>%>
       <%# <% else %>
        <%# <h1></h1>
       <% end %> 
      <%# </div>
      <div class="posts__containers__container__right__posts"> 
      <% if Post.any? %>
      <%# <% @posts.each do |post| %>
        <%# <div class="posts__containers__container__right__posts__post">
          <div class="posts__containers__container__right__posts__post__top"> 
            <div class="posts__containers__container__right__posts__post__top__account">
                <% if post.user.image.present? %> 
                  <%# <%= link_to user_path(post.user.id) do %>
                    <%# <%= image_tag post.user.image %>
                  <%# <% end %> 
                <%# <% else %> 
                  <%# <%= link_to  user_path(post.user.id)  do %> 
                    <%#= image_tag "/assets/account.png" %>
                    <%# <%= image_tag asset_path("account.png", alt: "アカウント") %>

                  <%# <% end %>
                <%# <% end %> 
            <%# </div>
            <div class="posts__containers__container__right__posts__post__top__name">
              <a href="/users/<%= post.user.id %>
                <%# <%= post.user.nickname %> 
              <%# </a>
            </div> %>
            <%# <div class="posts__containers__container__right__posts__post__top__manage"> %>
            <%# <% if user_signed_in? && current_user.id == post.user_id %> 
              <%# <ul class="posts__containers__container__right__posts__post__top__manage__lists">
                <li> %> 
                  <%# <%= link_to "/posts/#{post.id}/edit", method: :get do %> 
                  <%# <i class="fas fa-edit"></i> Edit %> 
                  <%# <% end %> 
                <%# </li> %>
                <%# <li> %> 
                  <%# <%= link_to  "/posts/#{post.id}", method: :delete do %>
                  <%# <% <i class="fas fa-trash-alt"></i> Delete %>
                  <%# <% end %>  

                 <%# <a class="modal-open-btn"><i class="fas fa-trash-alt"></i> Delete</a> %>
                  <%# <%= link_to "", "/posts/#{post.id}", method: :DELETE, class: 'item-delete-btn', id: 'delete_button'%>  

                <%# </li>
              </ul>
            <% end %>
            <%# </div>
          </div> 
          <div class="posts__containers__container__right__posts__post__bottom"> 
          <%= image_tag post.image %>
            <%# <div class="posts__containers__container__right__posts__post__bottom__caption">
              <div class="posts__containers__container__right__posts__post__bottom__caption__top">
                <div class="posts__containers__container__right__posts__post__bottom__caption__top__category">
 
                  <%= raw(post.tag_list.map { |t| link_to "##{t}", tag_path(t), class: "posts__containers__container__right__posts__post__bottom__caption__top__category__link" }.join(' ')) %> <!--追加--> 

                <%# </div>
            </div>
            <div class="posts__containers__container__right__posts__post__bottom__caption__comment">
              <%= post.caption%>
            <%# </div>
          </div>
        </div> 
      <%# <% end %>  
      <%# <% else %>
        <%# <div class="posts__containers__container__right__posts__nothing"> 
          <i class="fas fa-camera-retro"></i><br> %>
          <%# No posts so far<br>Let's share what you got!
        </div>
      <% end %> 
      <%# </div>     %>
    <%# </div>   %> 



  <%# </div>
</div> %> 


