<div class="containers">
  <div class="main">
    <div class="title">
        <% if params[:tag] %> 
         <h1>Posts for  <span>#<%= params[:tag] %></span></h1>
        <% else %>
         <h1>Posts</h1>
       <% end %> 
    </div>

    <% if @tags.any? %>
    <h2>Trending Tags</h2>
      <div class="tag">
        <% @tags.each do |tag|%>
        <ul>
          <li>
          <%= link_to "##{tag.name}(#{tag.taggings_count})", tag_path(tag.name), class: "link" %>
          </li>
          </ul>
        <% end %>
      </div>

    <% end %>


      <div class="search">
        <%= form_tag(posts_path,:method => 'get', :class => "search-form") do %>
          <i class="fas fa-search"></i>
          <%= text_field_tag :keyword, nil,placeholder:"Search posts", class: "search-input" %> 
          <%#= submit_tag 'Search', :name => nil %>
        <% end %>
      </div>


    <div class="posts">
      <% if Post.any? %>
        <% @posts.each do |post| %>
          <div class="post">
            <%= image_tag post.image %>
            <div class="mask">
              <div class="inside">
                <div class="account">
                  <% if post.user.image.present? %> 
                    <%= link_to user_path(post.user.id) do %>
                    <%= image_tag post.user.image %>
                    <% end %> 
                 <% else %> 
                    <%= link_to  user_path(post.user.id)  do %> 
                      <%= image_tag asset_path("account.png", alt: "アカウント") %>
                    <% end %>
                  <% end %> 
                </div>
                <div class="name">
                  <a href="/users/<%= post.user.id %>">
                    <%= post.user.nickname %> 
                  </a>
                </div>
                <div class="manage">
                <% if user_signed_in? && current_user.id == post.user_id %> 
                  <ul class="manage__lists">
                    <li>  
                      <%= link_to "/posts/#{post.id}/edit", method: :get do %> 
                        <i class="fas fa-edit"></i> Edit 
                      <% end %> 
                    </li> 
                    <li> 
                      <a class="modal-open-btn"><i class="fas fa-trash-alt"></i> Delete</a> 
                      <%= link_to "", "/posts/#{post.id}", method: :DELETE, class: 'item-delete-btn', id: 'delete_button'%>  
                    </li>
                  </ul>
                <% end %>
                </div>
                <div class="caption">
                  <div class="category">
                    <%= raw(post.tag_list.map { |t| link_to "##{t}", tag_path(t), class: "link" }.join(' ')) %> <!--追加--> 
                  </div>
                  <div class="comment">
                    <%= post.caption%>
                  </div>
                </div>

             </div>
            </div>
          </div>
        <% end %> 
     </div>
 
       <% else %>
        <div class="nothing"> 
          <p>No posts so far<br>Let's share what you got!</p>
          <%= link_to 'New Post', new_post_path %>
        </div>
       <% end %> 
          
       </div>  
  </div>
</div>
