<header>
  <div class="container">
    <div class="container__logo">
      <a class="container__logo__content" href="/posts">Secret Santa<br>365</a>
    </div>
    <ul class="navigation menu">
      <li class="menu__single navigation__list-item photo">
      <% if current_user.image.present? %>
          <%= image_tag current_user.image %>
      <% else %>
         <%= image_tag asset_path("account.png", alt: "アカウント") %>
      <% end %>
        <ul class="menu__second-level">
            <li>
              <%= link_to groups_path do %>
                <i class="fas fa-comments"></i>My Group
              <% end %>     
            </li>
            <li>
              <%= link_to user_path(current_user.id) do %>
                <i class="fas fa-user"></i>My Page
              <% end %> 
            </li>
            <li>
              <%= link_to sns_posts_path do %>
                <i class="fas fa-share-alt"></i>Share
              <% end %>        
            </li>
        </ul>
      </li>
    </ul>
  </div>
</header>