<header>
  <div class="container">
    <div class="container__logo">
      <a class="container__logo__content" href="/posts">Secret Santa<br>365</a>
    </div>
    <ul class="navigation">
      <li class="navigation__list-item post">
        <%= link_to new_post_path do %>
         <i class="fas fa-share-alt"></i>
        <% end %>
      </li>
      <li class="navigation__list-item message">
        <%= link_to groups_path do %>
          <i class="fas fa-comments"></i>
        <% end %>
      </li>
      <li class="navigation__list-item photo">
      <% if current_user.image.present? %>
        <%= link_to  user_path(current_user.id)  do %>
          <%= image_tag current_user.image %>
        <% end %>
      <% else %>
        <%= link_to  user_path(current_user.id)  do %>
         <%= image_tag "/assets/account.png" %>
        <% end %>
      <% end %>

      </li>
    </ul>
  </div>
</header>